<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
    
    <title> Vue To do List </title>
</head>
<body>
  <div id="app" class="container">
    <div class="logo">
      <img src="img/logo.png" alt="">
    </div>    
    <div class="input_button">
    <input @keypress.enter="addTodo" placeholder="Nuovo Todo" type="text" v-model="newTodo">
    <button @click="addTodo"> Aggiungi </button>
  </div>
  <div class="list">
    <ul>
      <li v-for="(todo, index) in todos">
        {{ todo }}
        <i @click="removeTodo(index)" class="fas fa-times"></i>
      </li>
    </ul>
  </div>
  </div> 



  <script type="text/javascript" src="js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/df7a7030e8.js" crossorigin="anonymous"></script>
</body>
</html>
